<%- model_class = Sourcingpartner -%>
<div class="page-header">
  <h1>Experience</h1>
</div>
   <form class="form-search">

    <%= text_field_tag :name, params[:name] %>

    <button type="submit" class="btn">Search</button>
    </form>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sourcingpartners.each do |sourcingpartner| %>
      <tr>
        <td><%= link_to sourcingpartner.id, sourcingpartner_path(sourcingpartner) %></td>
        <td><%= sourcingpartner.name %></td>
        <td><%= sourcingpartner.description %></td>
        <td><%=l sourcingpartner.created_at %></td>
        <td>
                                  <%= link_to 'View', sourcingpartner,:class => 'btn btn-primary' %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sourcingpartner_path(sourcingpartner), :class => 'btn btn-mini' %>
          <%= link_to t('.delete', :default => t("helpers.links.delete")),
                      sourcingpartner_path(sourcingpartner),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sourcingpartner_path,
            :class => 'btn btn-primary' %>
